{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Django aur chai {% endblock %}</title>
    <link rel="stylesheet" href='{% static "style.css" %}' />
    {% tailwind_css %}
  </head>
  <body>
    <nav class="text-2xl">This is navbar</nav>
    <div class="flex justify-center text-red-500">
      {% block content %} {% endblock %}
    </div>
    <footer class="text-2xl">This is footer</footer>
  </body>
</html>
